.search_container {
	width: 90%;
	margin: 20px auto;
	display: flex;
	align-items: flex-center;
}
.search__form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
input {
	display: inline-block;
	padding: 20px;
	width: 100%;
	margin: px auto;
	font-size: 20px;
	color: gray;
	border: 3px solid rgb(185, 149, 149);
	border-radius: 20px;
	justify-content: center;
	text-align: center;
	outline: none;
}

button {
	width: 250px;
	height: 45px;
	margin-top: 30px;
	margin-left: 120px;
	border: none;
	background-color: cornflowerblue;
	color: white;
	border-radius: 8px;
	font-size: 20px;
	cursor: pointer;
	display: inline-block;
}
